p, h1, h2, h3, h4 {font-family: Helvetica, Arial, sans-serif;text-align:justify; test-justify: distribute-all-lines }
a {color:#3B3B3B;text-decoration:none;}
.hidden {display: none;}
p {position: absolute;}
img {position: absolute;cursor: pointer;}
object {padding: none;}
#start, #image-init-start-0 {width: 250px; margin-left: auto; margin-right: auto;margin-top:280px;position:relative;display:block;}
#home{bottom: 5%; left: 92%; position: absolute;}
#debug-input{bottom: 5%; right: 180px; position: absolute;}
.has-next {cursor:pointer;}
.debug-jump-link{bottom: 5%; right: 100px; position: absolute;}
p.terms1 {'Times New Roman', Times, serif;font-size:50px;}
p.terms2 {'Times New Roman', Times, serif;font-size:50px;}
p.terms3 {'Times New Roman', Times, serif;font-size:50px;}
p.terms4 {'Times New Roman', Times, serif;font-size:50px;}
p.terms5 {'Times New Roman', Times, serif;font-size:50px;}
p.intelligence {'Times New Roman', Times, serif;font-style:italic;}
p.relation {'Times New Roman', Times, serif;font-style:italic;}
p.indivisible {'Times New Roman', Times, serif;font-size:100px;}
