p, h1, h2, h3, h4 {font-family: Helvetica, Arial, sans-serif;text-align:justify; test-justify: distribute-all-lines }
.hidden {display: none;}
p {position: absolute;}
img {position: absolute;cursor: pointer;}
#start, #image-init-start-0 {width: 250px; margin-left: auto; margin-right: auto;margin-top:180px;}
#home-start-start{bottom: 0%; left: 95%; position: absolute;}
