p, h1, h2, h3, h4 {font-family: Helvetica, Arial, sans-serif;text-align:justify; test-justify: distribute-all-lines }
a {color:black;text-decoration:none;}
.hidden {display: none;}
p {position: absolute;}
img {position: absolute;cursor: pointer;}
#start, #image-init-start-0 {width: 250px; margin-left: auto; margin-right: auto;margin-top:180px;}
#home-start-start{bottom: 5%; left: 92%; position: absolute;}
#debug-input{bottom: 5%; right: 180px; position: absolute;}
.debug-jump-link{bottom: 5%; right: 100px; position: absolute;}
<<<<<<< .mine

p.terms1 {'Times New Roman', Times, serif;font-size:40px;}
=======
.has-next {cursor:pointer;}
>>>>>>> .r48
