<html>

<head>
	<meta name="description" content="Alan Fineberg's resume" />
	<meta name="keywords" content="fineberg, resume" />
	<meta name="author" content="Alan Fineberg" />
	<meta charset="utf-8" />
     <title>Alan Fineberg</title>

     <link type="text/css" href="/css/resume.css" rel="stylesheet" media="screen">
</head>

<body>

    <div id="page-wrap">
    
        <img src="/images/portrait.jpg" alt="Photo of Alan" id="pic">
    
        <div id="contact-info" class="vcard">
        
            <!-- Microformats! -->
        
            <h1 class="fn">Alan Fineberg</h1>
        
            <p>
                Email: af at cs dot washington dot edu
            </p>
            <p>
                Blog: <a href="http://alanfineberg.blogspot.com">Right here</a>
            </p>
            <p>
                Linkedin: <a href="http://www.linkedin.com/in/alanfineberg">This is it</a>
            </p>
        </div>
                
        <dl>
            <dt class="clear">
            
            <dt>Education</dt>
            <dd>
                <h2>University of Washington</h2>
                <strong>Major: </strong>Computer Engineering, Software Specialization<br>
                   <strong>GPA: </strong>3.66 major (3.62 overall)<br>
                   <strong>Dean's List: </strong> 
				 	  <ol class="compact-list dl">
					  	<li>Spring and Autumn 2008</li>
						<li>Winter and Autumn 2007</li>
						<li>Winter and Autumn 2006</li>
						<li>Autumn 2005</li>
					</ol>
					<br>
                   <strong>Coursework:</strong> 
				 	  <ul class="compact-list coursework">
					  	<li>Databases</li>
					  	<li>Networks</li>
					  	<li>Algorithms</li>
					  	<li>Operating Systems</li>
					  	<li>Graphics</li>
					  	<li>Computer Vision</li>
					  	<li>Games Capstone</li>
					  	<li>Human-Computer Interaction</li>
					  	<li>Machine Organization and Assembly Language</li>
					  	<li>Programming Languages</li>
					  	<li>Intro to Formal Models</li>
					  	<li>Data Structures</li>
					  	<li>Tools and Systems for Software Development</li>
					  	<li>Software Engineering</li>
					  	<li>Discrete Structures</li>
					  	<li>Statistics for Computer Science</li>
					  	<li>Game Theoretic Data</li>
					  	<li>Matrix Algebra</li>
					  	<li>Differential Equations</li>
					  	<li>Calculus III</li>
					  	<li>Physics III</li>
					  	<li>Statistical Mechanics</li>
					  	<li>Electrical Engineering I</li>
					</ul>
            </dd>
            
            <dt class="clear">
            <dt class="clear">
            
            <dt>Experience</dt>
            <dd>
                <h2>Yelp <span>Software Engineer - San Francisco - June 2009 - Present</span></h2>
                <ul>
                    <li>Developing internationalization framework and features.
						<ul class="compact-list technologies">
							<li>Python</li>
							<li>SQL</li>
							<li>Javascript</li>
						</ul>
					</li>
                    <li>Building consumer-facing features. 
					</li>
                </ul>
                
                <h2>Google (Ad Planner)<span>Software Engineer Intern - Seattle - Summer 2008</span></h2>
                <ul>
                    <li>Mocked, prototyped and evaluated several distinct audience visualization features, iterating with UX research.
						<ul class="compact-list technologies">
							<li>Javascript</li>
						</ul>
					</li>
                    <li>Integrated and released interative visualization for Ad Planner
						<ul class="compact-list technologies">
							<li>Java</li>
							<li>Rails</li>
						</ul>
					</li>
                    <li>Optimized performance with separate data cache and custom JSON conversion
						<ul class="compact-list technologies">
							<li>Bigtable</li>
							<li>Java</li>
							<li>JSON</li>
						</ul>
					</li>
                </ul> 

                <h2>Zillow <span>SDET Intern, SDE Intern - January 2007 - March 2008</span></h2>
                <ul>
                    <li>Developed internal tool to manage imported listings feed data.
						<ul class="compact-list technologies">
							<li>Tapestry</li>
							<li>Java</li>
						</ul>
					</li>
                    <li>Refactoring to simplify home claiming pipeline
						<ul class="compact-list technologies">
							<li>Tapestry</li>
							<li>Java</li>
						</ul>
					</li>
                    <li>Drove the creation of a test run creation/reporting website for UI testers
						<ul class="compact-list technologies">
							<li>ASP.NET</li>
							<li>Java</li>
						</ul>
					</li>
                </ul> 

                <h2>University of Washington <span>TA - Spring 2006, Fall 2007, Spring 2009</span></h2>
                <ul>
                    <li>Intro to Java (x2), Intro to Graphics</li>
                </ul> 
            </dd>
            
            <dt class="clear">

            <dt>Noteworthy school projects</dt>
			<dd><strong>Robot Rock</strong> <em>Spring 2009.</em> A user conducts jamming musician entitiess to compose music in real-time. 
				<ul class="compact-list technologies">
					<li>Python</li>
					<li>Qt</li>
					<li>FluidSynth</li>
				</ul>
			</dd>
			<dd><strong>A Snowball's Chance</strong> <em>Spring 2008.</em>  Half Life 2 mod with Katamari-style gameplay. Guide an angelic snowball through hell, pickup its denizens to grow larger, try not to melt!
				<ul class="compact-list technologies">
					<li>Python</li>
					<li>Qt</li>
					<li>FluidSynth</li>
				</ul>
			</dd>
			<dd><strong>Panorama Stitcher</strong> <em>Winter 2008.</em> Use feature detection to pair images, radially transform them and merge into a panorama.
				<ul class="compact-list technologies">
					<li>Python</li>
					<li>Qt</li>
					<li>FluidSynth</li>
				</ul>
			</dd>

            <dt class="clear">
            <dt class="clear">
					
            <dt>Technical Summary</dt>
			<dd>Languages:
				<ul class="compact-list technologies">
					<li>Python</li>
					<li>JavaScript</li>
					<li>SQL</li>
					<li>Java</li>
					<li>bash</li>
					<li>C</li>
					<li>C++</li>
				</ul>
			</dd>
			<dd>
				Technologies:
				<ul class="compact-list technologies">
					<li>vim</li>
					<li>unix</li>
					<li>eclipse</li>
					<li>IntelliJ-IDEA</li>
					<li>svn</li>
					<li>Perforce</li>
				</ul>
			</dd>
        </dl>
        
        <div class="clear"></div>
    
    </div>

	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-5708346-3");
	pageTracker._trackPageview();
	} catch(err) {}</script>
</body>

</html>
